@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    box-sizing: border-box;
    font-family:'Poppins';
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    margin:0;
    min-height: 100vh;
    background-color: rgb(226,226,226);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*    Navbar   */

nav{
    width: 100vw;
    height: 75px;
    background-color: white;
    position:fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    list-style: none;
    width: inherit;
}

nav ul li{
    margin: 0px 27px;
    font-size: 18px;
}

/*       Welcome Page    */

.welcome{
    overflow:hidden;
    height: 100vh;
    width: 100vw;
    margin-top: 75px;
}

#image img{
    height: inherit;      
}

.overlay{
    height: inherit;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.322);
    margin-top: 75px;

    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.overlay h1{
    position: relative;
    top:-40px;
    font-size: 36px;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

.overlay p{
    position: relative;
    top:-50px;
    font-size: 14px;
    text-shadow:  2px 2px 2px black;
    text-align: center;
    padding: 0 50px;
}

#btn{
    background-color: rgba(0, 0, 0, 0.466);
    border:2.5px solid white;
    border-radius:5px;
    color:white;
    font-size: 20px;
    padding: 0.4rem 1.2rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.205);
    cursor: pointer;
}

button:focus{
    outline: none;
}

button:hover{
    background-color: rgb(126, 126, 126) !important;
    transform: translate(2px, 2px);  
}

button:active{
    transform: translate(3px, 3px); 
}


/*   Torah Portion   */
.torahPortion{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin-top: 75px ;
    border: 1px solid pink;
}

.torahPortion h1{
    margin-left: 10vw;
}

#torahImg{
    float: right;
    height: 40vh;
    margin-right: 10vw;
    padding: 0 5vw;
}

.torahPortion p{
    text-align: justify;
    margin: 0 10vw;
}

/* -------------- About Me -----------------*/

.about{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin-top: 75px;
    border: 1px solid green;
}
.about h1{
    margin-left: 10vw;
}

#aboutImg{
    float: left;
    height: 40vh;
    margin-left: 10vw;
    padding: 0 5vw;
}

.about p {
    margin: 0 10vw;
    text-align: justify;
}

/* -------------- MY FAMILY ---------*/
.myFamily{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin-top: 75px;
    border: 1px solid green;
}
.myFamily h1{
    margin-left: 10vw;
}

#familyImg{
    float: right;
    height: 40vh;
    margin-right: 10vw;
    padding: 0 5vw;
}

.myFamily p {
    margin: 0 10vw;
    text-align: justify;
}

/*    Carousel    */
.carousel {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    height: 50vw;
    width: 75vw;
}

.image-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

img {
    object-fit: cover;
    height: 50vw;
    width: 75vw;
}